<ul class="container" style="display: none" id="credentials">
    <li class="row mb-5">
        <h5 class="text-center col-12">Here are your credentials for accessing your ether wallet.</h3>
        <h3 class="text-center col-12">Save them in some safe place or they will be losted.</h3>
    </li>

    <li class="row d-flex justify-content-center">
        <p class="col-1 text-left font-weight-bold">Mnemonic:</p>
        <h5 class="col pl-5 text-left font-weight-bold" id="mnemonic"></h5>
    </li>

    <li class="row my-2 d-flex justify-content-center">
        <p class="col-1 text-left font-weight-bold">Password:</p>
        <h5 class="col pl-5 text-left font-weight-bold" id="password"></h5>
    </li>

    <li class="row my-2 d-flex justify-content-center">
        <p class="col-1 text-left font-weight-bold">Address</p>
        <h5 class="col pl-5 text-left font-weight-bold" id="address"></h5>
    </li>

    <li class="row my-2 d-flex justify-content-center">
        <a href="/">Enter you wallet</a>
    </li>
</ul>

<ul class="container" id="register">
    <li class="row my-2">
        <h4 class="col-12 text-center">Enter Password For Your Wallet:</h4>
    </li>

    <li class="row my-2">
        <input class="col-12" type="password" id="password">
    </li>

    <li class="row my-2 d-flex justify-content-center">
        <button id="create">Create Wallet</button>
    </li>

    <li class="row my-2 d-flex justify-content-center" id="msg">
        <h5 class="col-12"></h5>
    </li>
</ul>
<script src="/javascripts/index.js"></script>