<div class="container">
    <div class="row">
        <ul id="login" class="col-6">
            <li class="row">
                <h5>Enter your ethereum wallet here!</h5>
            </li>

            <li class="mnemonic row my-2">
                <label for="mnemonic" class="col-2">Mnemonic</label>
                <input id="mnemonic" class="col px-1" type="text" width="100%">
            </li>

            <li class="password row my-2">
                <label for="password" class="col-2">Passsword</label>
                <input id="password" class="col px-1" type="password" width="100%">
            </li>

            <li class="submit row d-flex justify-content-center">
                <button id="submit" class="col-3">Enter</button>
            </li>
        </ul>
        
        <div class="col-6 d-flex justify-content-start flex-flow">
            <ul class="list-unstyled">
                <li>
                    <h5>Have no wallet?</h5>
                </li>

                <li>
                    <a style="border:1px solid blue" class="p-1 mt-2" href="/create">Create it!</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/javascripts/index.js"></script>